# Imports

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
datapath = Path("nba.csv")

# Load Data

In [31]:
nba_data = pd.read_csv(datapath, sep = ",")
nba_data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [35]:
# Verify how many NaN values exist inside the dataset
nba_data.isna().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [33]:
# We must manage these NaN values
nba_data.dropna(subset=['Name'], inplace=True) # We will delete a player who has no name, team, number, etc. We use Name but it will spread the elimination

nba_data.fillna({'College' : 'Unknown'}, inplace=True)

min_salary = nba_data['Salary'].min()
nba_data.fillna({'Salary' : min_salary}, inplace=True)

In [36]:
nba_data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,30888.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Unknown,5000000.0

In [ ]:
# In order to a better understanding, we going to create a stadistic summary for the numeric variables

age_mean = nba_data['']